
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}


.h1_header > h1 {
  margin: 1em;
}

.board_top {
  display: flex;
  margin: 10em 10em 1em 10em;
  justify-content: space-around;
  font-size: 1.2em;
}

#board_list {
  display: flex;
  flex-direction: column;
}

#board_list ul {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 1em 5em 1em 23em;
} 
