* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 3000px;
}
body {
  padding-top: 68px;
  font-family: "Noto Sans KR", sans-serif;
}

/* --------------------------------------------header------------------------------------------ */

/* 맨 위 고정된 네비게이션 바 위치설정 */
.navbar_fixed {
  background-color: #ffff;
  display: flex;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  padding: 14px 16px;
  margin: 0;
  z-index: 3;
  font-family: Arial;
}
.navbar_logo {
  padding: 0 30px;
}
.navbar_device {
  display: flex;
  padding-left: 800px;
}
.navbar_device > a,
hr {
  padding: 0 20px;
}
.h_line {
  border-left: 1px solid black;
  width: 0.1px;
  height: 30px;
  padding: 0;
}
.navbar_etc {
  display: flex;
  padding-left: 80px;
  align-items: center;
  margin: 0;
}
.navbar_etc > p {
  display: inline-flexbox;
  width: 430px;
}
.navbar_etc > p,
a,
div {
  padding: 0 10px;
}
.navbar_etc > p,
a {
  white-space: nowrap;
  overflow: hidden;
}

/* 맨 위 네비바 위치설정 외 잡다한 설정 */
.navbar_etc > div:first-of-type {
  padding: 0 0px;
  font-size: 14px;
  text-decoration: underline;
}
.fa-brands {
  color: black;
}
.fa-solid {
  color: black;
}
.fa-computer:hover,
.fa-computer:focus {
  color: lightskyblue;
}
.fa-mobile-screen-button:hover,
.fa-mobile-screen-button:focus {
  color: lightskyblue;
}
#fixed_a_1:hover {
  color: lightskyblue;
}
#fixed_a_2 > div > p {
  padding: 10px 0 0 15px;
  color: #ffff;
}
.navbar_etc > a > div {
  height: 40px;
  width: 100px;
  border-radius: 25px;
  background-color: #116dff;
  margin: 5px;
}
.navbar_etc > a > div:last-of-type:hover {
  background-color: #70a5fa;
  transition-duration: 1s;
}

/* 고정되지 않은 두번째 네비게이션 바 위치설정 */
.navbar_second {
  background-color: #292f45;
  display: flex;
  height: 80px;
  align-items: center;
  padding: 10px 0;
  width: 1903px;
  flex-wrap: nowrap;
}
.second_logo {
  display: flex;
  align-items: center;
  padding: 0 0 0 50px;
  flex-grow: 8;
  column-width: 150px;
  -webkit-flex: 1100px;
  flex: 1100px;
}
.second_logo > a:last-of-type > p {
  padding: 0 0 0 5px;
  line-height: 25px;
}
.second_menu {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
  flex-grow: 1;
  -webkit-flex: 300px;
  flex: 300px;
}
.sns_icon {
  display: flex;
  justify-content: center;
  -webkit-flex: 5px;
  flex: 5px;
}
.sns_icon > a {
  padding: 0 5px;
}

/* 두번째 네비바 위치설정 외 잡다한 설정 */
.second_logo > p {
  color: #ffff;
}
.second_logo > a:last-of-type {
  color: #ffff;
  padding: 0;
  font-size: 18px;
}
.fa-circle-user {
  color: #ea6f66;
}
.second_menu > a {
  color: #ffff;
}
.second_menu > a:hover {
  color: #ea6f66;
}

/* 헤더 부분의 메인 이미지 위치설정+이것저것 */
.header_mainimg {
  margin: 0;
  padding: 0;
  width: 1903px;
  height: 595px;
  position: absolute;
}
#imgtext_1 {
  position: absolute;
}
#imgtext_2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  align-content: center;
  z-index: 1;
  padding: 110px;
}
#imgtext_2 > a > div:first-of-type {
  padding: 0;
  margin-top: 30px;
  width: 142px;
  height: 40px;
  background-color: #ea6f66;
}
#imgtext_2 > a > div:first-of-type:hover {
  background-color: #ffff;
  transition-duration: 2s;
}
.text_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  line-height: 68px;
}
#imgtext_2 > h1 {
  width: 500px;
  font-size: 60px;
  padding: 0;
  color: #ffff;
}
#imgtext_2 > span {
  padding-top: 10px;
  width: 542px;
  font-size: 24px;
  color: #ffff;
}
#imgtext_2 > a > div {
  display: grid;
  place-content: center;
}
#imgtext_2 > a > div > p {
  color: #292f45;
  font-size: 18px;
  margin: -10px;
}

/* --------------------------------------------main------------------------------------------ */

/* 헤더 바로 밑 메인 화면 (미아) */
.section_first {
  background-color: white;
  width: 780px;
  height: 360px;
  margin: 460px 0 0 480px;
  padding: 76px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 10px lightgray;
}
.mia {
  display: flex;
}
.mia > div > h4 {
  font-size: 34px;
  margin-left: 70px;
  line-height: 44px;
  color: #292f45;
}
.mia > div > p {
  margin: 40px 0 0 70px;
  line-height: 28px;
  font-size: 18px;
}
#mia_box > div {
  background-color: #ea6f66;
  width: 120px;
  height: 40px;
  margin: 10px 0 0 70px;
  display: flex;
  align-items: center;
  align-content: center;
}
#mia_box > div:hover {
  background-color: #292f45;
  color: #ffff;
  transition-duration: 2s;
}
#mia_box {
  color: #292f45;
}
#mia_box > div > p {
  padding: 10px 16px;
  font-size: 18px;
}

/* 무엇을 도와드릴까요 나오는 짧은 섹션 */
.help {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 1903px;
  padding: 100px 0 0 0;
}
.help > h3 {
  font-size: 38px;
  color: #292f45;
}
.help > p {
  padding-top: 32px;
  font-size: 20px;
  line-height: 26px;
}

/* 메인화면중에 구역 여섯개로 나뉜 섹션 */
.section_six_area {
  width: 1903px;
}
.first_area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  height: 350px;
  padding: 15px 50px 0 50px;
}
.second_area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 24px 50px 0 50px;
}
.box_line {
  border-left: 1px solid black;
  width: 0.1px;
  height: 280px;
  padding: 0;
}
.area_maintext {
  padding: 15px 0 15px 0;
  font-size: 24px;
}
.area_text {
  line-height: 28px;
  font-size: 18px;
}
.section_six_area > div:last-of-type {
  height: 180px;
  display: grid;
  place-items: center;
}
.area_pinkbox {
  background-color: #ea6f66;
  width: 140px;
  height: 40px;
}
.area_pinkbox:hover {
  background-color: #292f45;
  color: #ffff;
  transition-duration: 2s;
}
.section_six_area > div:last-of-type > a {
  color: #292f45;
}
.area_pinkbox > p {
  font-size: 18px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 6px 0 0 14px;
}

/* 전 세계 기업과 ~ 부분 나오는 구역 */
aside {
  background-color: #292f45;
  height: 600px;
  width: 1903px;
}
aside > h1 {
  color: #ffff;
  display: grid;
  place-items: center;
  font-size: 32px;
  padding: 80px 0 80px 0;
}
.aside_img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 0 90px;
}

/* 메인 화면 아래쪽에 박스 3개 */
.three_div {
  width: 1903px;
  padding: 0;
}
.div_group {
  background-color: #ffff;
  display: inline-block;
  margin: 0;
  width: 300px;
  height: 365px;
  align-items: flex-start;
  align-content: center;
  position: relative;
  top: -170px;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.three_div > div:nth-child(1) {
  margin-left: 350px;
}
.three_div > div:nth-child(2) {
  margin: 0 140px 0 140px;
}
.three_div > div:nth-child(3) {
  margin-right: 100px;
}
.div_group > i {
  color: #ea6f66;
  display: grid;
  place-items: center;
  padding: 30px 0 20px 0;
}
.div_group > p {
  display: grid;
  place-items: center;
}
.div_group > p:first-of-type {
  font-size: 22px;
  margin-bottom: 12px;
}
.div_group > p:nth-child(3) {
  font-size: 18px;
}
.div_group > p:nth-child(4) {
  font-size: 24px;
  margin-top: 60px;
}

/* 메인 아래쪽에 일러스트랑 같이 들어가는 마지막 섹션 (비즈니스의~) */
.business {
  background-color: #eaeff9;
  top: -365px;
  display: grid;
  position: relative;
  z-index: 1;
  height: 688px;
  margin: 0;
  padding: 0px;
  width: 1903px;
}
.illust {
  padding: 0;
  height: 400px;
}
svg {
  margin: 300px 770px 0 770px;
}
.business > h1 {
  display: grid;
  place-items: center;
  align-content: flex-start;
  font-size: 36px;
  color: #292f45;
}
#b_box {
  display: grid;
  place-items: center;
  align-content: flex-start;
}
#b_box > div {
  background-color: #ea6f66;
  width: 120px;
  height: 40px;
}
#b_box > div:hover {
  background-color: #292f45;
  transition-duration: 2s;
  color: #ffff;
}
#b_box > div > p {
  font-size: 18px;
  display: grid;
  place-items: center;
  padding-top: 8px;
}
.business > a:last-of-type {
  color: #292f45;
}

/* --------------------------------------------footer------------------------------------------ */

footer {
  background-color: #292f45;
  height: 66px;
  width: 1903px;
}
footer > p {
  color: #ffff;
  display: flex;
  justify-content: center;
  line-height: 30px;
}
footer > p > a {
  color: #ffff;
  text-decoration: underline;
}
